:root {
    --otk-red: #f53240;
    --otk-black: #000;
    --otk-nightblue: #11272e;
    --otk-white: #fff;
    --otk-green:#2C5C3C;
}

.navsection {
    background-color: var(--otk-black);
    align-items: center !important;
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 34px;
    z-index: 7;
    padding-left: 0;
}

.nav-links a {
    color: var(--otk-white);
    text-decoration: none;
    padding: 10px 28px;
}
.nav-links a:hover {
    color: var(--otk-green);
}
.menu {
    font-size: 16px;
}

.menu li:hover>a {
    transition: 0.3s ease;
    z-index: 6;
}

.menu li {
    display: inline-block;
    list-style: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }

@media (max-width: 992px) {
    .menu {
        display: none;
        position: absolute;
        background-color: var(--otk-black);
        right: 0;
        left: 0;
        text-align: center;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #11272e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}

input[type=checkbox] {
    display: none;
}

ul {
    list-style: none;
}